html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}
body {
    margin: 0;
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* ----- Hader ----- */
header {
width: 100%;
position: fixed;
top: 0;
padding: 10px 20px;
clear: both;
height: 75px;
background: #252830;
}

.logo {
background-color: #434857;
border: 1px solid #434857;
border-radius: 4px;
float:left;
width:70px;
text-align:center;
}

.logo h2 {
  color: #fff;
  font-weight:100;
  text-transform: uppercase;
  font-size: 16px;
}

/* ----- Navigation ----- */
.nav {
float: right;
width: calc(100% - 70px);
}

.nav ul {
  /* width:100%; */
  float:right;
}

.nav li {
  display: inline;

  float:left;
}

.nav a {
  color: #fff;
  text-decoration: none;
      padding: 20px 10px;
}

.nav a:hover,
.nav a.active {
  color: #1997c6;
}

/* ----- Wrapper ----- */
.wrapper {
  width:100%;
  display: inline-block;
}
